server:
  port: 8888

spring:
  application:
    name: config-server
    
  profiles:
    active: native   # <<< QUAN TRá»ŒNG

  cloud:
    config:
      server:
        # git:
        #   uri: https://github.com/PPY2204/e-commerce-clothes-platform.git
        #   default-label: main
        #   clone-on-start: true
        # # For local file system (development)
        native:
          search-locations: classpath:/config

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,refresh
