server:
  port: 8088

spring:
  application:
    name: recommendation-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/recommendation_db

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
