server:
  port: 8082

spring:
  application:
    name: product-catalog-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/product_db
      auto-index-creation: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    prefer-ip-address: true

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
