server:
  port: 8087

spring:
  application:
    name: review-service
  data:
    mongodb:
      uri: mongodb://localhost:27017/review_db

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
